<<<<<<< HEAD
=======
/*!*******************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/source/components/top-bar/TopBar.scss ***!
  \*******************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap);
>>>>>>> dev
/*!************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/source/components/Product.scss ***!
  \************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap);
/*!*************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/source/components/top-bar/main-top-bar.scss ***!
  \*************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap);
/*!********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/source/components/App.scss ***!
  \********************************************************************************************************************************/

<<<<<<< HEAD
=======
/*!***********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/source/components/top-bar/TopBar.scss (1) ***!
  \***********************************************************************************************************************************************/
title {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  color: #222222; }

.bar-background {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  background-color: #f6f6f6;
  padding: 0px 20px; }
  .bar-background .arrow {
    padding: 3px 4px 0px 4px; }
  .bar-background .title {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    color: #222222; }

>>>>>>> dev
/*!**********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/source/components/category/Category.scss ***!
  \**********************************************************************************************************************************************/

/*!**************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/source/components/menu/Menu.scss ***!
  \**************************************************************************************************************************************/

/*!*****************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/source/components/set-location/SetLocation.scss ***!
  \*****************************************************************************************************************************************************/

/*!****************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/source/components/login/Login.scss ***!
  \****************************************************************************************************************************************/

/*!*********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/source/components/Main.scss ***!
  \*********************************************************************************************************************************/

/*!****************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/source/components/Product.scss (1) ***!
  \****************************************************************************************************************************************/
title {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  color: #222222; }

.product {
  padding: 10px;
  display: flex;
  border-bottom: 1px solid #999999; }
  .product .picture {
    width: 40%; }
    .product .picture img {
      width: 90%; }
  .product .explain {
    width: 40%;
    flex-direction: row; }
    .product .explain .product-name {
      font-family: "Noto Sans KR";
      font-style: normal;
      font-size: 16px;
      font-weight: 500;
      color: #222222;
      padding: 2px 0px; }
    .product .explain .update-data {
      font-family: "Noto Sans KR";
      font-style: normal;
      font-size: 14px;
      font-weight: 400;
      color: #888888;
      padding: 2px 0px; }
    .product .explain .price {
      font-family: "Noto Sans KR";
      font-style: normal;
      font-size: 14px;
      font-weight: 500;
      color: #222222;
      padding: 2px 0px; }
  .product .about {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .product .about .heart {
      margin: 0 auto; }
    .product .about .chat-count {
      font-family: "Noto Sans KR";
      font-style: normal;
      font-size: 14px;
      font-weight: 400;
      color: #888888;
      margin: 0 auto;
      padding: 3px; }
      .product .about .chat-count .heart-img {
        padding: 0px 4px; }

/*!****************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/source/components/ProductList.scss ***!
  \****************************************************************************************************************************************/

/*!*****************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/source/components/top-bar/main-top-bar.scss (1) ***!
  \*****************************************************************************************************************************************************/
title {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  color: #222222; }

.main-top-bar {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #045d8b;
  border-radius: 0px 0px 16px 16px;
  padding: 17px;
  display: flex;
  justify-content: space-between; }
  .main-top-bar img {
    padding: 0px 8px; }
  .main-top-bar .set-location img {
    padding: 0px 4px; }

/*!***********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/source/index.scss ***!
  \***********************************************************************************************************************/
html,
body {
  width: 320px; }

