@import "../../styles/style.scss";

.login {
  input,
  button,
  .github-login-btn {
    margin-top: 24px;
    width: 80%;
    height: 38px;
    border-radius: 8px;
    background: none;
    border: 1px solid #d7d7d7;
    padding: 0px;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .input-id {
      text-indent: 16px;
    }

    .login-btn {
      @include fontSetting(12px, 500, #ffffff);
      background-color: #045d8b;
    }

    .register-btn {
      border: none;
    }
  }

  .github-login-btn {
  }
}
